* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height:60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo {
    height: 50px;
    width: 113px;
}

.amazon_logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.deliver_to {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}

.dilevery_location {
    font-size: 1rem;
}

.nav_location_icon {
    display: flex;
    
}

.nav_search_box {
    display: flex;
    width: 620px;
    height:40px;
    background-color: pink;
    border-radius: 6px;
    justify-content: space-evenly;
}

.nav_search_box:hover {
    border: 2px solid orange;
}
.select_search {
    background-color: #f3f3f3;
    width: 51px;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
}

.input_search {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search_icon {
    width: 45px;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2323;
    background-color: #febd68;
    font-size: 1.2rem;
}

.txt_sign {
    font-size: 0.85rem;
}

.txt_account {
    font-size: 0.98rem;
    font-weight: 700;
}

.txt_returns {
    font-size: 0.85rem;
}

.txt_orders {
    font-size: 0.98rem;
    font-weight: 700;
}

.nav_Cart_Section {
    display: flex; 
}

.cart {
    font-weight: 700;
    position: relative;
    top:8px;
}

.nav_Cart_Section i {
    font-size: 30px;
}

.panel {
    display: flex;
    height: 40px;
    color: white;
    background-color: #222f3d;
    align-items: center;
    justify-content: space-evenly;
}

.panel_all {
    height:37px;
    display: flex;
    align-items: center;
}
.panel_text {
    width:70%;
}  

.panel_text p {
    display: inline-block;
    font-size: 0.85rem;
    margin-left: 15px;
}

.panel_deals {
    font-size: 0.9rem;
    font-weight: 700;
    height:37px;
    display: flex;
    align-items: center;
}

.hero_section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 300px;
}

.hero_msg {
    display: flex;
    background-color: aliceblue;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 95%;
    position: relative;
    left:30px;
    top: 230px;

}

.hero_msg a {
    color: #007185;
}

.shoping_section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
} 

.box {
    height:400px;
    width: 23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 20px;
    border-radius: 5px;
} 


.box_content {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 5px;
}

.see_more {
    margin-top: 20px;
    color: #007185;
}

.shoping_items_img {
    height: 320px;
    width: 95%;
    background-size: cover;
    margin-top: 10px;
    margin-left: 4px;
}
footer {
    margin-top: 20px;
}

.footer_box_1 {
    color: white;
    background-color: #37475a;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_box_2 {
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 12px;
    color: #DDDDDD;
}

ul p {
    margin-top: 35px;
    font-weight: 900;
}

